<br>
<br>
<h1> Create a new event! </h1> 
	<div class="superwrapper col-md-12">
		<div class="neweventform col-md-6">
		<%= bootstrap_form_for @event do |f| %>
			<%= f.text_field :title, placeholder: "Title of your event" %>
			<%= f.text_field :date, placeholder: "When is the event happening?" %> 
			<%= f.text_field :time, placeholder: "When will your event start and end?" %>
			<%= f.text_area :description, placeholder: "Describe to your guests your event" %>
			
	<hr>
	<!-- Neighborhoods, ON CLICK IT WILL LOAD GMAPS OR YELP OR GPLACES WITH BARS IN THAT AREA. SEARCH(BARS & SM || BARS & VENICE || BARS & WEHO -->
			<strong><p>Which neighborhood?</p></strong>
			<%= check_box_tag(:location) %>
				<%= label_tag(:location, "Venice") %>
			<%= check_box_tag(:location) %>
				<%= label_tag(:location, "Santa Monica") %>
			<%= check_box_tag(:location) %>
				<%= label_tag(:location, "WeHo") %>
	<hr>
	<!-- Bars, Locations which wil be initialized through YELP/ GMAPS/ GPLACES -->
			<%= f.text_field :start, placeholder: "Where is your event happening?" %>
			<%= f.text_field :bar1, placeholder: "Where is bar 1?" %>
			<%= f.text_field :bar2, placeholder: "Where is bar 2?" %>
			<%= f.text_field :bar3, placeholder: "Where is bar 3?" %>
			<%= f.text_field :bar4, placeholder: "Where is bar 4?" %>
			<%= f.text_field :bar5, placeholder: "Where is bar 5?" %>
			<%= f.text_field :afterparty, placeholder: "Where is your after party?" %>
			<%= f.submit "Add Event", :class => "btn btn-primary" %>
			<%= link_to "Back", welcome_dashboard_path, :class => "btn btn-default"%>
		<% end %> 

	</div>

	<div class="yelpinfo col-md-6">
		<h1>Yelp / Google Places populates with bars in selected neighborhood</h1>
		
</body>
	</div>

	<div class="maps col-md-6">
	<body onload="initialize(34.0500, -118.2500)">


<!-- Google Maps Styling -->
  <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    
</head>
<body>

<div id="map-canvas" style="width: 100%;height: 500px;"> </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script> 
    var map;
    var service;
    var infowindow;


var getlatlong = element.getAttribute(attributeName);

    ///create an event handler that will call this function when the DOM content is ready 
  // this is event listener 
  document.addEventListener("DOMContentLoaded", function() {
    initialize(latitude,longitude);
  });
    // as soon as html is ready, call this functino and load my map up.. the functino is stored in memory, and it can be called at will,aka when one of those links gets clicked. 
   function initialize(latitude,longitude) {
      var location = new google.maps.LatLng(latitude, longitude);

      map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: location,
          zoom: 15
        });

      var request = {
        location: location,
        radius: '50000',
        types: ['bar']
      };

      service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, callback);
    }

    function callback(results, status) {
      if (status != google.maps.places.PlacesServiceStatus.OK) {
        alert(status);
        return;
      }
      for (var i = 0, result; result = results[i]; i++) {
        var marker = new google.maps.Marker({
          map: map,
          position: result.geometry.location
        });
        google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
      }
    }

    document.getElementById("venice-link").addEventlistner("click",function(){

          //pull data atrributes from venice link

          //recall our intialize function , to basically reload the map, replace var location, with lat long of new location

    });



    </script>

	</div>
	





